<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highgo.opendbt.exam.mapper.TExamClassMapper">

    <resultMap id="BaseResultMap" type="com.highgo.opendbt.exam.domain.entity.TExamClass">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="examId" column="exam_id" jdbcType="INTEGER"/>
            <result property="classId" column="class_id" jdbcType="INTEGER"/>
            <result property="courseId" column="course_id" jdbcType="INTEGER"/>
            <result property="testStart" column="test_start" jdbcType="VARCHAR"/>
            <result property="testEnd" column="test_end" jdbcType="VARCHAR"/>
            <result property="testIsOpen" column="test_is_open" jdbcType="BOOLEAN"/>
            <result property="deleteTime" column="delete_time" jdbcType="TIMESTAMP"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,exam_id,class_id,
        course_id,test_start,test_end,
        test_is_open,delete_time,delete_flag
    </sql>
</mapper>
