<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highgo.opendbt.homeworkmodel.mapper.TModelExerciseMapper">

    <resultMap id="BaseResultMap" type="com.highgo.opendbt.homeworkmodel.domain.entity.TModelExercise">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="modelId" column="model_id" jdbcType="INTEGER"/>
        <result property="exerciseId" column="exercise_id" jdbcType="INTEGER"/>
        <result property="exerciseType" column="exercise_type" jdbcType="INTEGER"/>
        <result property="exerciseScore" column="exercise_score" jdbcType="DOUBLE"/>
        <result property="exerciseStyle" column="exercise_style" jdbcType="INTEGER"/>
        <result property="exerciseOrder" column="exercise_order" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="SMALLINT"/>
        <result property="deleteTime" column="delete_time" jdbcType="TIMESTAMP"/>
        <result property="deleteUser" column="delete_user" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,model_id,exercise_id,
        exercise_score,exercise_style,exercise_order,exercise_type,
        create_time,create_user,update_time,
        update_user,delete_flag,delete_time,
        delete_user
    </sql>
</mapper>
